.exerciseInput {
    width: 33vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}

.exerciseInput label {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    color: #535353;
}

.exerciseInput input {
    width: calc(225px + 1rem);
    padding: 8px;
    margin-top: 8px;
    border: 1px solid #999;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
}

.exercise-search-btn {
    width: calc(175px + 1rem);
    display: flex;
    justify-content: center;
    background-color: #24a0ed;
    margin-top: 0.5rem;
    padding: .5rem;
    border-radius: 5px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.exercise-search-btn:hover {
    font-weight: 700;
}

.no-autocomplete {
    color: #999;
    padding: 8px;
}

.autocomplete {
    max-height: 140px;
    width: calc(300px + 1rem);
    padding-left: 0;
    margin-top: 5px;
    border: 1px solid #999;
    border-radius: 5px;
    list-style: none;
    overflow-y: auto;
    text-align: center;
}

.autocomplete li {
    padding: 8px;
    list-style: none;
    border-radius: 5px;
}

.autocomplete li:hover {
    background-color: darkgray;
    cursor: pointer;
    font-weight: 700;
}

.autocomplete li.active {
    background-color: darkgray;
    cursor: pointer;
    font-weight: 700;
}

.autocomplete li:not(:last-of-type) {
    border-bottom: 1px solid #999;
}