.muscleSearchResultsList {
    width: calc(225px + 1rem);
    border-top: none;
    border-bottom: none;
    border-radius: 5px;
    list-style: none;
    margin-top: 10px;
    overflow-y: auto;
    padding-left: 0;
}

.muscleSearchResultsList li {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 8px;
    border: 1px solid #999;
    border-radius: 5px;
}

.exercise {
    padding: 0.25rem;
}

.exercise:hover {
    background-color: #999;;
    cursor: pointer;
    font-weight: 700;
}

.paginationButtons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 8px;
}

.paginationButtons button {
    width: calc(50px + 1rem);
    background-color: #24a0ed;
    border: none;
    border-radius: 5px;
    margin-top: 5px;
    padding: 8px;
    font-size: 16px;
}

.paginationButtons button:enabled:hover {
    /* background-color: #999; */
    font-weight: 700;
    cursor: pointer;
}