.muscleSearchResultsList {
    width: calc(300px + 1rem);
    border: 1px solid #999;
    list-style: none;
    margin-top: 10px;
    overflow-y: auto;
    padding-left: 0;
}

.muscleSearchResultsList li {
    padding: 8px;
    list-style: none;
}

.muscleSearchResultsList li:not(:last-of-type) {
    border-bottom: 1px solid #999;
}

.exercise {
    padding: 0.25rem;
}

.exercise:hover {
    background-color: #999;;
    cursor: pointer;
    font-weight: 700;
}

.paginationButtons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 8px;
}

.paginationButtons button {
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    padding: 8px;
    font-size: 16px;
}

.paginationButtons button:hover:enabled {
    background-color: #999;
    cursor: pointer;
}